Repository nordtheme/vim, pull requests merged in 2018-06, with the labels that each got.

#100 Match CursorLineNr background to CursorLine
  README.md
  assets/scrot-config-cursor-line-number-background-default.png
  assets/scrot-config-cursor-line-number-background.png
  colors/nord.vim
Labels: context-config-support, scope-ux, status-in-review, type-feature

#114 Add vimwiki syntax higlighting.
  colors/nord.vim
Labels: context-plugin-support, context-syntax-support, scope-compatibility, status-in-review, type-feature

#127 Theme config to globally toggle underlines
  README.md
  assets/scrot-config-underline.png
  colors/nord.vim
Labels: context-config-support, context-ui-support, scope-compatibility, type-feature

#128 Improve compatibility of airline with tmuxline.vim plugin
  autoload/airline/themes/nord.vim
Labels: context-plugin-support, context-ui-support, scope-compatibility, type-improvement
